.thumbnail{
    display: flex;
    position: absolute;
    max-width: 100%;
    flex-direction: column;
}
.content{
    display: flex;
}

h1 {
    color: #38b05e; 
    text-align: center
}

.introduction h2{
    color: #9cbb5e;
    padding: 20px;
    background-color: azure;
    width: 100;
}

.introduction img{
    border-radius: 50%;
}